@{
    ViewBag.Title = "首頁";
}

<div class="jumbotron">
    <h1>專案首頁</h1>
    <p class="lead">簡易專案開發首頁</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>包含簡易的客戶系統、產品系統、訂單系統</h2>
        <p>
            未包含登入，僅以公司內部用為主軸，可瀏覽客戶、產品、訂單，並可以進行C.R.U.D
        </p>
    </div>
</div>